header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100vw;
    max-width: 100%;
    background-color: var(--dark-blue);
}

.mobile {
    display: none;
}

.logo {
    margin-left: 150px;
    font-size: 48px;
    color: white;

    a {
        text-decoration: none;
        color: white;
        position: relative;
        cursor: pointer;
        &::after {
            bottom: 0;
            color: var(--green);
            content: 'n';
            position: absolute;
            transform: translate(-100%, 4%);
        }
    }
}

.desktop-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 250px;
    margin-right: 150px;


    a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        transition: all ease-in-out 175ms;
        cursor: pointer;
        &:hover {
            color: var(--green);
        }
    }
}

.active {
    color: var(--green) !important;
    span {
        animation: activeBorder ease 100ms;
        border-bottom: 3px solid var(--purple);
    }
    
}

@keyframes activeBorder {
    from {
        border-bottom: 0px solid var(--purple);
    }
    to {
        border-bottom: 3px solid var(--purple);
    }
}

@media (max-width: 1200px) {
    .burger {
        margin-right: 40px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: unset;
    }

    .logo {
        margin-left: 40px;
    }

    header {
        z-index: 99;
    }

    .mobile-menu{
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        max-width: 100%;
        height: 100svh;
        background-color: var(--dark-blue-transparency);
        display: flex;
        font-size: 1.5rem;
        gap: 20px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
            min-width: 120px;
        }

    }
}