header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: var(--dark-blue);
}

.logo {
    margin-left: 150px;
    font-size: 48px;
    color: white;

    a {
        text-decoration: none;
        color: white;
        position: relative;
        cursor: pointer;
        &::after {
            bottom: 0;
            color: var(--green);
            content: 'n';
            position: absolute;
            transform: translate(-100%, 4%);
        }
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 250px;
    margin-right: 150px;


    a {
        text-decoration: none;
        color: white;
        transition: all ease-in-out 175ms;
        cursor: pointer;
        &:hover {
            color: var(--green);
        }
    }
}

.active {
    color: var(--green) !important;
    span {
        animation: activeBorder ease 100ms;
        border-bottom: 3px solid var(--purple);
    }
    
}

@keyframes activeBorder {
    from {
        border-bottom: 0px solid var(--purple);
    }
    to {
        border-bottom: 3px solid var(--purple);
    }
}