.content {
    color: white;
    width: 100%;

    position: relative;
    overflow: clip;

    @media (max-width: 1000px) {
        padding-top: 100px;
    }
}

.title {
    
    display: flex;
    align-items: center;

    gap: 50px;

    h2 {
        color: white;
        font-size: 90px;
    }

    img {
        width: 52px;
        height: 4px;
    }

    @media (max-width: 1000px) {
        gap: 5px;

        img {
            width: 40px;
        }

        h2 {
            font-size: 3rem;
            margin: unset;
        }
    }
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 150px 200px 150px;

    @media (max-width: 1000px) {
        flex-direction: column;
        padding: 0px 40px 0px 40px;
        gap: 40px;
        
    }
}

.text-container {
    width: 40%;

    @media (max-width: 1000px) {
        width: 100%;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 35px;

    form {
        display: flex;
        flex-direction: column;

        input {
            background-color: var(--dark-blue);
            font-size: 16px;
            width: 100%;
            padding: 15px 25px;
            border: 1px solid var(--purple);
            border-radius: 10px;
            color: white;
            font-family: 'Poppins';

            &::placeholder {
                color: white;
            }
        }

        textarea {
            background-color: var(--dark-blue);
            padding: 15px 25px;
            font-size: 16px;
            width: 100%;
            border: 1px solid var(--purple);
            border-radius: 10px;
            color: white;
            font-family: 'Poppins';
            resize: vertical;

            &::placeholder {
                color: white;
            }
        }

        input,
        textarea {

            &.ng-touched,
            &.ng-dirty {

                &.ng-invalid {
                    border: 1px solid #E61C40;
                    background-image: url('/assets/img/invalid.svg');
                    background-repeat: no-repeat;
                    background-position: top 12px right 25px;
                }

                &.ng-valid {
                    border: 1px solid #70E61C;
                    background-image: url('/assets/img/valid.svg');
                    background-repeat: no-repeat;
                    background-position: top 12px right 25px;
                }
            }
        }

        .error {
            color: red;
        }

        p {
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 0;
        }
    }



    @media (max-width: 1000px) {
        width: 100%;
        padding-bottom: 100px;

        textarea {
            height: 20svh;
        }
    }
}

button {
    background-color: var(--green);
    cursor: pointer;
    padding: 15px 30px 15px 30px;
    border: unset;
    border-radius: 10px;
    color: white;
    font-size: 23px;
    transition: all ease-in-out 175ms;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

    &:hover {
        background-color: var(--purple);
        transform: scale(1.1);
    }

    &:disabled {
        opacity: 0.1;
        cursor: unset;

        &:hover {
            background: var(--purple);
            padding: 15px 30px;
        }
    }

}

.shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -400px;
    margin-left: -300px;
    transform: rotate(-130deg);

    @media (max-width: 1000px) {
        left: unset;
        right: 0;
        margin-left: unset;
        margin-right: -400px;
        transform: scale(0.5) rotate(90deg);
    }
}

.right-container {
    display: flex;
    flex-direction: column;
    gap: 35px;

    & input,
    textarea {
        width: 620px;
        border-radius: 10px;
        border: none;
        border: 1px solid #FF4747;
        background-color: #141D2F;
        padding: 15px 25px;
        cursor: pointer;
        font-family: 'Poppins';
        color: white;
        transition: all 125ms ease-in-out;
        box-sizing: border-box;

        &.ng-touched,
        &.ng-dirty {

            &.ng-invalid {
                border: 1px solid #E61C40;
                background-image: url('/assets/img/invalid.svg');
                background-repeat: no-repeat;
                background-position: top 12px right 25px;
            }

            &.ng-valid {
                border: 1px solid #70E61C;
                background-image: url('/assets/img/valid.svg');
                background-repeat: no-repeat;
                background-position: top 12px right 25px;
            }
        }


        &::placeholder {
            color: white;
            font-family: 'Poppins';
        }

        &:hover {
            border: 1px solid #FA7902;
            transition: all 125ms ease-in-out;
        }
    }

    .error {
        color: red;
    }

    p {
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 0;
    }
}

.btn-container {
    height: 70px;
    align-self: center;
}

.upBtn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -100px;
    

    svg {
         path {
            fill: white;
            transition: all ease-in-out 175ms;
        }

        rect {
            stroke: white;
            transition: all ease-in-out 175ms;
        }
        &:hover {
            path {
                fill: var(--green);
                transition: all ease-in-out 175ms;
            }

            rect {
                stroke: var(--green);
                transition: all ease-in-out 175ms;
            }
        }
    }

    @media (max-width: 1000px){
        margin-bottom: -50px;
    }
}

.success {
    color: var(--green);
    display: flex;
    justify-content: center;
    width: 100%;
}