<div class="content">
    <img class="shadow" src="./assets/img/shadow-footer.svg">
    <div class="title">
        <img src="./assets/img/line.png"><h2>Contact</h2>
    </div>
    <div class="flex-container" data-aos="zoom-in-up" data-aos-duration="1000">
        <div class="text-container">
            <h3>Got a problem to solve?</h3>
            <span>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</span>
            <p>Need a Frontend developer? <b>Contact me!</b></p>
        </div>
        <div class="form-container">
            <form action="" data-aos="zoom-in-up" data-aos-duration="1000">
                <input type="text" required placeholder="Your name">
                <input type="email" required placeholder="Your email">
                <textarea name="" id="" cols="30" rows="10" placeholder="Your message"></textarea>
                <div><button>Send message :)</button></div>
            </form>
        </div>
    </div>
</div>