<div class="content">
    <div class="pictures">
        <img class="shadow" src="./assets/img/photo-shadows.svg">
        <img src="./assets/img/avatar.svg">
    </div>
    <div class="right-side">
        <div class="box1">
            <span class="vertical">I am</span>
            <div class="name">
                <h1>Kevin Rohlf</h1>
                <span>FRONTEND DEVELOPER</span>
            </div>
        </div>
        <button>Let´s talk!</button>
    </div>
    <div class="social-container">
        <img src="./assets/img/stroke.svg" alt="">
        <div class="social-btns">
            <img src="./assets/img/github.svg">
            <img src="./assets/img/mail.svg">
            <img src="./assets/img/linkedin.svg">
            <span>
                Kevin@Rohlf.io
            </span>
        </div>
    </div>
    <a href="#aboutme">Scroll down <img src="./assets/img/arrow.svg"></a>
</div>
