<div class="content">
    <div class="pictures">
        <img class="shadow" src="./assets/img/photo-shadows.svg">
        <img class="avatar" src="./assets/img/avatar3.png">
    </div>
    <div class="right-side">
        <div class="box1">
            <span class="vertical">I am</span>
            <div class="name">
                <h1>Kevin Rohlf</h1>
                <span>FRONTEND DEVELOPER</span>
            </div>
        </div>
        <button (click)="scrollTo('contact')">Let´s talk!</button>
    </div>
    <div class="social-container">
        <img class="line" src="./assets/img/line.png" alt="">
        <div class="social-btns">
            <a href="https://github.com/KevinRohlf" target=”_blank”><img src="./assets/img/github.svg"></a>
            <a href="#contact"><img src="./assets/img/mail.svg"></a>
            <a href="https://www.linkedin.com/in/kevin-rohlf-b75a97259/" target=”_blank”><img src="./assets/img/linkedin.svg"></a>
            <a class="desktop" href="mailto:Kevin@Rohlf.io">Kevin@Rohlf.io</a>            
        </div>
    </div>
    <div class="scroll-btn desktop">
        <a (click)="scrollTo('aboutme')">Scroll down <img src="./assets/img/arrow.svg"></a>
    </div>
    <img class="vector" src="./assets/img/swing.png" alt="">
    
</div>

