<div class="content">
    <img class="shadow" src="./assets/img/shadow-portfolio-section.svg">
    <img class="shadow-right" src="./assets/img/green-shadow3.svg">
    <div class="flex title">
        <div class="first-line"><img src="./assets/img/line.png"></div>
        <h2>Portfolio</h2>
        <div class="second-line"><img src="./assets/img/line.png"></div>
    </div>
    <div class="flex center">
        <p>This page is a sample of my work - please feel free to try them out.</p>
    </div>
    <table>
        <tr data-aos="fade-up" data-aos-duration="1000">
            <td><img class="picture" src="./assets/img/portfolio/join.png"></td>
            <td>
                <div class="project-text">
                    <h3>Join</h3>
                    <p>HTML | CSS | JavaScript</p>
                    <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop
                        functions, assign users and categories. </span>
                        <div class="btns">
                            <a href="./join" target="_blank"><button class="live-test">Live test</button></a>
                            <a href="https://github.com/KevinRohlf/join" target="_blank"><button class="github">Github</button></a>
                        </div>
                </div>
            </td>
        </tr>
        <tr data-aos="fade-up" data-aos-duration="1000">
            <td class="reverse">
                <div class="project-text">
                    <h3>El Pollo Loco</h3>
                    <p>HTML | CSS | JavaScript | OOP</p>
                    <span>A simple Jump-and-Run game based on an object-oriented approach. Help Pepe to find coins
                        and salsa bottles to fight against the big Chicken.</span>
                    <div class="btns">
                        <a href="./elpolloloco" target="_blank"><button class="live-test">Live test</button></a>
                        <a href="https://github.com/KevinRohlf/El-Pollo-Loco" target="_blank"><button class="github">Github</button></a>
                    </div>
                </div>

            </td>
            <td><img class="picture" src="./assets/img/portfolio/epl.svg"></td>
        </tr>
        <tr data-aos="fade-up" data-aos-duration="1000">
            <td><img class="picture" src="./assets/img/portfolio/pokedex.png"></td>
            <td>
                <div class="project-text">
                    <h3>Pokédex</h3>
                    <p>HTML | CSS | JavaScript | API</p>
                    <span>Based on the PokéAPI a simple library that provides and catalogues pokemon
                        information.</span>
                        <div class="btns">
                            <a href="./pokedex" target="_blank"><button class="live-test">Live test</button></a>
                            <a href="https://github.com/KevinRohlf/Pokedex" target="_blank"><button class="github">Github</button></a>
                        </div>
                </div>
            </td>
        </tr>
        
        
    </table>

</div>