<div class="content">
    <img class="shadow" src="./assets/img/shadow-portfolio-section.svg">
    <img class="shadow-right" src="./assets/img/green-shadow3.svg">
    <div class="flex title">
        <div class="first-line"><img src="./assets/img/line.png"></div>
        <h2>Portfolio</h2>
        <div class="second-line"><img src="./assets/img/line.png"></div>
    </div>
    <div class="flex center">
        <p>This page is a sample of my work - please feel free to try them out.</p>
    </div>
    <table>
        <tr data-aos="fade-up" data-aos-duration="1000">
            <td><img src="./assets/img/portfolio/join.png"></td>
            <td>
                <div class="project-text">
                    <h3>Join</h3>
                    <p>HTML | CSS | JavaScript</p>
                    <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop
                        functions, assign users and categories. </span>
                    <div class="btns">
                        <button class="live-test">
                            Live test
                        </button>
                        <button class="github">
                            Github
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        <tr data-aos="fade-up" data-aos-duration="1000">
            <td class="reverse">
                <div class="project-text">
                    <h3>El Pollo Loco</h3>
                    <p>HTML | CSS | JavaScript | OOP</p>
                    <span>A simple Jump-and-Run game based on an object-oriented approach. Help sharkie to find coins
                        and poison bottles to fight against the killer whale.</span>
                    <div class="btns">
                        <button class="live-test">
                            Live test
                        </button>
                        <button class="github">
                            Github
                        </button>
                    </div>
                </div>

            </td>
            <td><img src="./assets/img/portfolio/epl.svg"></td>
        </tr>
        <tr data-aos="fade-up" data-aos-duration="1000">
            <td><img src="./assets/img/portfolio/pokedex.png"></td>
            <td>
                <div class="project-text">
                    <h3>Pokédex</h3>
                    <p>HTML | CSS | JavaScript | API</p>
                    <span>TBased on the PokéAPI a simple library that provides and catalogues pokemon
                        information.</span>
                    <div class="btns">
                        <button class="live-test">
                            Live test
                        </button>
                        <button class="github">
                            Github
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        <tr data-aos="fade-up" data-aos-duration="1000">
            <td>
                <div class="project-text">
                    <h3>Ring of fire</h3>
                    <p>Angular | TypeScript| Firebase | HTML | CSS</p>
                    <span>A simple Jump-and-Run game based on an object-oriented approach. Help sharkie to find coins
                        and poison bottles to fight against the killer whale.</span>
                    <div class="btns">
                        <button class="live-test">
                            Live test
                        </button>
                        <button class="github">
                            Github
                        </button>
                    </div>
                </div>

            </td>
            <td><img src="./assets/img/portfolio/ringoffire.png"></td>
        </tr>
        <tr data-aos="fade-up" data-aos-duration="1000">
            <td><img src="./assets/img/portfolio/portfolio.png"></td>
            <td>
                <div class="project-text">
                    <h3>Kevin.Rohlf.io</h3>
                    <p>Angular | TypeScript | HTML | CSS</p>
                    <span>TBased on the PokéAPI a simple library that provides and catalogues pokemon
                        information.</span>
                    <div class="btns">
                        <button class="live-test">
                            Live test
                        </button>
                        <button class="github">
                            Github
                        </button>
                    </div>
                </div>
            </td>
        </tr>
    </table>

</div>