.content {
    color: white;
    width: 100%;
    padding-top: 100px;
    position: relative;
    overflow-x: clip;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
}

h2 {
    font-size: 90px;
    margin: 0;
}

.title {
    align-items: center;
    justify-content: space-between;
    div {
        width: 33%;
        display: flex;
        justify-content: flex-end;
    }
} 

.second-line {
    img{
        width: 100%;
    }
}

table {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 120px 0px 140px ;
    z-index: 2;

    img{
        z-index: 2;
    }

    div {
        z-index: 2;
    }
    

    tr {
        width: 100%;
        display: flex;
        justify-content: space-between;
        &:nth-child(even){
            .project-text {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                text-align: end;
            }
        }
    }

    td {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.project-text {
    h3 {
        margin: 0;
        font-size: 32px;
        color:  var(--purple);
    }
    p {
        font-size: 23px;
        color: var(--green);
    }

}

.btns {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-top: 35px;

    button {
        padding: 15px 30px 15px 30px;
        font-size: 23px;
        font-family: 'Poppins';
        border-radius: 10px;
        cursor: pointer;
        color: white;
        transition: all ease-in-out 175ms;
    }
}

.live-test {
    background-color: var(--purple);
    border: unset;
    &:hover {
        background-color: var(--green);
    }
}

.github {
    background-color: unset;
    border: 1px solid var(--green);
    &:hover {
        background-color: var(--green);
    }
}

.shadow {
    position: absolute;
    top: 45%;
    margin-left: -100px;
}

.shadow-right {
    position: absolute;
    bottom: 0;
    margin-bottom: -400px;
    right: 0;
    margin-right: -450px;
    transform: rotate(75deg);
}