/* You can add global styles to this file, and also import other style files */
:root {
    --dark-blue: #141D2F;
    --purple: #9747FF;
    --light-blue: #1CDAE6;
    --green: #70E61C;
    --dark-blue-transparency: rgba(20, 29, 47, 0.8);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins';
    background-color: var(--dark-blue);
    width: 100vw;
    max-width: 100%;
    height: 100svh;

    &::-webkit-scrollbar {
        display: none;
    }
}

.mobile {
    display: none;
}

@media (max-width: 1200px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: unset;
    }
}